<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExcaliburSecurity.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ExcaliburSecurity.Properties.Settings>
            <setting name="Serial" serializeAs="String">
                <value />
            </setting>
            <setting name="HardwareHash" serializeAs="String">
                <value />
            </setting>
            <setting name="ActivationCode" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstStart" serializeAs="String">
                <value />
            </setting>
            <setting name="LastStart" serializeAs="String">
                <value>04/13/2013 14:20:00</value>
            </setting>
            <setting name="SecurityHash" serializeAs="String">
                <value />
            </setting>
            <setting name="ModuleCodes" serializeAs="String">
                <value />
            </setting>
        </ExcaliburSecurity.Properties.Settings>
    </userSettings>
</configuration>